[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "ext/bgfx.cmake"]
	path = ext/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
